.swipo, .swipo-menu, .swipo-main, .swipo-more {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
}

.swipo {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	-webkit-perspective: 800px;
}

.swipo.menu > .swipo-menu { width: 20%; }
.swipo.menu > .swipo-main { left: 20%; }

.swipo.more > .swipo-more { width: 20%; }
.swipo.more > .swipo-main { right: 20%; }

.swipo.popup > .swipo-main
, .swipo.popup > .swipo-menu
, .swipo.popup > .swipo-more {
	-webkit-transform: rotateX(5deg);
}

.swipo-pull {
	z-index: 0;
}

.swipo-menu, .swipo-more {
	z-index: 1;
	overflow: hidden;

	-webkit-transition: width 300ms ease-in, -webkit-transform 300ms ease-out;
}

.swipo-menu {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

.swipo-more {
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
}

.swipo-main {
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	-webkit-transition: left 300ms ease-in, right 300ms ease-in, -webkit-transform 300ms ease-out;
}

