.swipo { background-color: #000; }
.swipo-panel { background-color: #FAFAFA; color: #333; }
.swipo-navbar { background-color: #1eb0e9; color: #FFF; }
.swipo-tabbar { background-color: #393939; color: #FFF; }

